@import url("reset.css");
/* 四種顏色 */
/*border: 1px solid #000;
  */

/* background: #00FFA3;  */

/* color: #ff0000; */

body{
  font-family: 'Bruno Ace SC', cursive;
  line-height: 1.5;
}
img{
  display: block;
}
.container{
  max-width: 1296px;
  margin: 0 auto;
}
.bg-black{
  background: #000;
}
.bg-white{
	background: #FFF;
}
.f-col{
  flex-direction: column;
}
.tar{
  text-align: right;
}
.bg-purple{
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
	padding: 96px;
}
.left{
  height: 848px;
  background-image: url(../img/people.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 24px;
}
a{
  text-decoration: none;
  color: #fff;
}
.ml-a{
	margin-left: auto;
}
.h1{
  font-size: 128px;
  color: #00FFA3;
}
.h2{
  font-size: 64px;
}
.fz-1{
  font-size: 32px;
}
.fz-2{
  font-size: 24px;
}
.fz-3{
  font-size: 20px;
}
.d-flex{
  display: flex;
}
.white{
  color: #fff;
}
.jcc{
  justify-content: center;
}
.jc-sb{
  justify-content: space-between;
}
.aic{
  align-items: center;
}
.nav{
  padding-top: 40px;
}
.nav a,
.nav li{
  color:#D1D1D1;
}
.nav a:hover{
  color: #00FFA3;
}
.banner{
	padding: 72px 0;
}
.w-636{
  width: 636px;
}
.contact{
  color: #000;
  background: #fff;
  padding: 12px 44px 12px 24px;
  border-radius: 32px;
}
.contact:hover{
  color: #00FFA3;
}
.contact>img{
  display: inline-block;
}
.ml-4{
  margin-left: 4px;
}
.mr-24{
  margin-right: 24px;
}
.w-128{
  width: 128px;
}
.w-196{
  width: 196px;
}
.w-306{
  width: 306px;
}
.w-416{
  width: 416px;
}
.w-526{
	width: 526px;
}
.w-636{
  width: 636px;
}
.w-746{
	width: 746px;
}
.intro{
	background-image: url(../img/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
	padding: 160px 0;
}
.mb-36{
	margin-bottom: 36px;
}
.mb-32{
	margin-bottom: 32px;
}
.mb-16{
  margin-bottom: 16px;
}

.about{
	padding: 160px 0;
}
.about-left{
	padding: 46px;
	flex-wrap: wrap;
}
.about-left>li{
	width: 274px;
	padding: 16px;
  border: 1px solid #E3E3E3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
.about-left>li:nth-child(1),
.about-left>li:nth-child(2) {
  margin-bottom: 24px;
}
.contact-left>h3{
  position: relative;
}
.arrow-right{
  margin-left: 24px;
  position: absolute;
  width: 100px;
  height: 100px;
	background-image: url(../img/trending_flat_black_24dp\ 1.png);
}
.icon-img{
	border-radius: 40px;
  object-fit: cover;
  width: 162px;
  height: 162px;
}
.icon-img:hover{
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.90), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ptb-160{
  padding: 160px 0;
}
.see-more{
  background: #000;
  border-radius: 32px;
  padding: 12px 24px;
  width: 137px;
}
.see-more:hover{
  color: #00FFA3;
}
footer{
  padding: 40px;
}
footer>div>p{
  color: #fff;
}